* {
    -webkit-print-color-adjust: exact;
}

#content article>section table.tablesorter > thead > tr .header {
    background-image: none !important;
    zoom: 0%;
}

.button.annotation-count,
header > div.topright > div.buttons,
#content > div.footer,
input,
tr.table-options > td > div,
.tableFloatingHeader,
.left-gutter-outer
{
    display: none !important;
    visibility: hidden !important;
}